.problemBox {
    padding: 2rem;
    margin-top: 1rem;
    opacity: 0.8;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
    transition: all 0.2s ease;
}

.problemBox:hover {
    box-shadow: none;
    opacity: 1;
}
