.button {
    background-color: var(--color-info-dark);
    color: var(--color-white);  
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    transition: all 0.1s ease;
    line-height: 2.5rem;
}

.button:hover {
    opacity: 0.75;
}