/* LOGO */
aside .logo {
    display: flex;
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .logo img {
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
}   