.wrapper {
    display: grid;
    width: 100%;
    align-items: flex-start;
    grid-template-columns: 50% 50%;
    row-gap: 5rem;
    column-count: 2;
}

.section {
    display: flex;
    flex-direction: column;
    padding-right: 15%;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 1rem;
}

.list > * {
    margin-top: 2rem;
    width: 100%;
}