.listItem {
  width: 500px;
  padding: 10px;
  margin: 30px;
  background-color: #ffffff; 
  color: #1F2525;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.2rem;
  border-left: 10px solid;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.listItem:hover,
.listItem.clicked {
  background-color: #2E3838;
  color: #ffffff;
  border-left: 10px solid #2E3838;
}