.login {
  padding-top: 25vh;
}

.company {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #1f2525;
  text-align: center;
}

.appName {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  color: #434c4c;
  text-align: center;
}

.loginForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #2e38382a; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

/* フォームアイテムのスタイリング */
.loginForm .ant-form-item {
  margin-bottom: 15px;
}

/* ログインボタンのスタイリング */
.loginForm .loginButton {
  width: 100%;
  background-color: #1F2525; 
  color: #ffffff;
  border: none;
}

/* ログインボタンのホバー時のスタイリング */
.loginForm .loginButton:hover {
  background-color: #2E3838; 
}
